
<div class="seati-container">
    <h1>SEATI-DEB SERVICIOS ESPECIALIZADOS DE ASISTENCIA TECNICA INDUSTRIAL</h1>
    <div class="seati-btn-grid">
      <button class="seati-btn">A0- <br> RECLUTAMIENTO</button>
      <button class="seati-btn">B0- <br>CONTRATACION</button>
      <button class="seati-btn">C0- <br>INDUCCION Y CAPACITACION</button>
      <button class="seati-btn">D0- <br>SEGUIMIENTO</button>
      <button class="seati-btn">E0- <br>RESCISIÓN LABORAL Y BAJAS</button>
      <button class="seati-btn">F0- <br>PRACTICAS Y ESTADIAS</button>
      <button class="seati-btn">M0- <br>MARKETING Y DISEÑO</button>
      <button class="seati-btn">Q0- <br>CLIENTES</button>
      <button class="seati-btn">V0- <br>VENTAS</button>
      <button class="seati-btn white-red">FINANZAS</button>
      <button class="seati-btn white-red">COMPRAS</button>
      <button class="seati-btn">RECURSOS MATERIALES</button>
    </div>
  </div>

