<div class="submodule-container">
    <h2>Ventas</h2>
    <div class="ventas-btn-grid">
        <div class="ventas-btn-row">
            <button class="btn-main">LISTA DE<br> CLIENTES</button>
            <button class="btn-main">LISTA DE <br>PRECIOS Y <br>PROVEEDORES</button>
            <button class="btn-main">PROYECTOS Y <br>COTIZACIONES</button>
            <button class="btn-main text-custom-color-1">COSTOS <br>ESTANDAR</button>
        </div>
        <div class="ventas-btn-row">
            <button class="btn-main text-custom-color-1">GENERADOR <br>DE <br>COTIZACIONES</button>
            <button class="btn-main"></button>
            <button class="btn-main"></button>
            <button class="btn-main"></button>
            <button class="btn-main"></button>


        </div>
    </div>
</div>