<div class="submodule-container">
  <h2>Portal Web</h2>
  
  <div class="portalweb-btn-grid">
    <div class="portalweb-btn-row">
      <button class="instituto-btn">CATALOGO <br> DE CURSOS</button>
      <button class="instituto-btn">PROMOCIONES</button>
      <button class="instituto-btn">USUARIOS</button>
      <button class="instituto-btn">CARRITO DE <br> COMPRAS</button>
    </div>
    <div class="portalweb-btn-row">
      <button class="instituto-btn">CURSOS <br> EN LINEA</button>
    </div>
  </div>
  <!-- Aquí va la interfaz del portal web -->
</div>
