<div class="reset-password-container">
  <h2>Restablecer Contraseña</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input type="email" id="email" formControlName="email" placeholder="Ingresa tu correo">
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error-message">
        Email inválido
      </div>
    </div>

    <div class="form-group">
      <label for="password">Nueva contraseña</label>
      <input type="password" id="password" formControlName="password" placeholder="Ingresa nueva contraseña">
      <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error-message">
        La contraseña debe tener al menos 8 caracteres
      </div>
    </div>

    <div class="form-group">
      <label for="password_confirmation">Confirmar contraseña</label>
      <input type="password" id="password_confirmation" formControlName="password_confirmation"
        placeholder="Confirma la contraseña">
      <div *ngIf="form.get('password_confirmation')?.invalid && form.get('password_confirmation')?.touched"
        class="error-message">
        Debes confirmar la contraseña
      </div>
    </div>

    <p *ngIf="message" class="message error-message">{{ message }}</p>

    <button type="submit" class="btn-submit" [disabled]="form.invalid">Restablecer Contraseña</button>
  </form>
</div>