<div class="submodule-container">
  <h2>Gestión de Pedidos</h2>
  <div class="pedidos-btn-grid">
    <!-- FILA 1 (5 botones) -->
    <div class="pedidos-btn-row">
      <button class="btn-main ">CLIENTES</button>
      <button class="btn-main text-custom-color-2">COTIZACIONES</button>
      <button class="btn-main text-custom-color-1">ASIGNADOR <br> NUMERO DE <br> REQUERIMIENTO</button>
      <button class="btn-main text-custom-color-1">CUENTAS POR <br> COBRAR</button>
      <button class="btn-main ">FACTURACIÓN</button>
    </div>

    <!-- FILA 2 (4 botones) -->
    <div class="pedidos-btn-row">
      <button class="btn-main ">PAGOS</button>
      <button class="btn-main ">REPORTE DE <br>SERVICIOS</button>
      <button class="btn-main ">REPORTE DE <br>SERVICIOS</button>
      <button class="btn-main ">PROGRAMACION <br> DE PAGOS</button>
    </div>
  </div>
</div>
