<div class="submodule-container">
    <h2>Finanzas</h2>
    <div class="finanzas-btn-grid">
        <!-- FILA 1 (5 botones) -->
        <div class="finanzas-btn-row">
            <button class="btn-main ">GESTOR EGRESOS</button>
            <button class="btn-main text-custom-color-1">GASTOS FIJOS Y <br>VARIABLES</button>
            <button class="btn-main text-custom-color-1">GASTOS <br> PROMEDIO TC</button>
            <button class="btn-main text-custom-color-1">CONTROL GASTOS <br>DIFERIDOS</button>
        </div>

        <!-- FILA 2 (4 botones) -->
        <div class="finanzas-btn-row">
            <button class="btn-main text-custom-color-1">CUENTAS POR <br>PAGAR</button>
            <button class="btn-main text-custom-color-1"></button>
            <button class="btn-main text-custom-color-1">PAGOS <br>GUBERNAMENTALES</button>
            <button class="btn-main text-custom-color-1">CONTROL CAJA <br> GRANDE Y CHICA</button>
            <button class="btn-main text-custom-color-1">BALANCE DE IVA</button>

        </div>
    </div>
</div>