<div class="submodule-container">
  <h2>Post-Ventas</h2>
  <div class="post-ventas-btn-grid">
    <div class="post-ventas-btn-row">
      <button class="btn-main">TICKET</button>
      <button class="btn-main">MANTENIMIENTOS</button>
      <button class="btn-main">GARANTÍAS</button>
      <button class="btn-main">SERVICIO AL CLIENTE</button>
    </div>
    <div class="post-ventas-btn-row">
      <button class="btn-main">HISTORIAL DE SERVICIOS</button>
      <button class="btn-main">ENCUESTAS DE SATISFACCIÓN</button>
      <button class="btn-main">REPORTES</button>
    </div>
  </div>
</div>
