<div class="submodule-container">
  <h2>Gestión de Instructores</h2>
  <div class="instructores-btn-grid">
    <div class="instructores-btn-row">
      <button class="instituto-btn">BASE DE DATOS</button>
      <button class="instituto-btn">INVENTARIOS</button>
      <button class="instituto-btn">EVALUACIONES</button>
      <button class="instituto-btn">REGISTRO DE <br>PAGOS POR CURSO <br> O PERIODO</button>
    </div>
    <div class="instructores-btn-row">
      <button class="instituto-btn">ARCHIVOS ADJUNTOS <br> POR INSTRUCTOR</button>
      <button class="instituto-btn"></button>
      <button class="instituto-btn"></button>
    </div>
  </div>
</div>