<div class="submodule-container">
    <h2>Capital Humano</h2>
    <div class="capital-humano-btn-grid">
        <div class="capital-humano-btn-row">
            <button class="btn-main" routerLink="colaboradores">COLABORADORES</button>
            <button class="btn-main ">RECLUTAMIENTO</button>
            <button class="btn-main ">CONTRATACION</button>
            <button class="btn-main ">INDUCCION Y <br>CAPACITACIÓN</button>
        </div>

        <div class="capital-humano-btn-row">
            <button class="btn-main ">EVALUACIÓNES DE <br>DESEMPEÑO</button>
            <button class="btn-main" routerLink="gest-tiempos">GESTION DE <br>TIEMPOS Y PAGOS</button>
            <button class="btn-main ">OBLIGACIONES <br>FISCALES Y LEGALES</button>
            <button class="btn-main" routerLink="pract-estadias">PRACTICANTES Y <br>ESTADIAS</button>
            <button class="btn-main ">NANUEALES Y <br>FORMATOS</button>

        </div>
        
    </div>
      <router-outlet></router-outlet>

</div>