<div class="submodule-container">
    <h2>Recursos Materiales</h2>
    <div class="recursos-mat-btn-grid">
        <div class="recursos-mat-btn-row">
            <button class="btn-main">ALMACEN</button>
            <button class="btn-main">INMOVILIARIO</button>
            <button class="btn-main">AUTOMOVILES</button>
            <button class="btn-main text-custom-color-1">UNIFORMES</button>
        </div>
        <div class="recursos-mat-btn-row">
            <button class="btn-main">HERRAMIENTAS <br>DE BANCO</button>
            <button class="btn-main"></button>
            <button class="btn-main"></button>
            <button class="btn-main"></button>
            <button class="btn-main"></button>


        </div>
    </div>
</div>