<div class="submodule-container">
  <h2>Gestión de Proyectos</h2>
  <div class="proyectos-btn-grid">
    <div class="proyectos-btn-row">
      <button class="btn-main text-custom-color-2">COTIZACIONES</button>
      <button class="btn-main text-custom-color-2">REQUERIMIENTO</button>
      <button class="btn-main text-custom-color-1">ASIGNACIÓN DE <br>COLABORADORES <br> PARA EL PROYECTO</button>
      <button class="btn-main text-custom-color-1">ESTATUS DEL PROYECTO</button>
    </div>
    <div class="proyectos-btn-row">
      <button class="btn-main text-custom-color-2">ESTIMACIONES</button>
      <button class="btn-main text-custom-color-2">MATERIALES <br>ASIGNADOS POR <br>PROYECTO</button>
      <button class="btn-main text-custom-color-1">BALANCE <br> DE GASTOS POR <br>PROYECTO</button>
      <button class="btn-main text-custom-color-2"></button>
      <button class="btn-main"></button>
    </div>
  </div>
</div>