<div class="submodule-container">
    <h2>Ingeniería</h2>
    <div class="ingenieria-btn-grid">
        <!-- FILA 1 (5 botones) -->
        <div class="ingenieria-btn-row">
            <button class="btn-main text-custom-color-2">PLANOS</button>
            <button class="btn-main text-custom-color-2">DISEÑO MECÁNICO</button>
            <button class="btn-main text-custom-color-2">DISEÑO ELÉCTRICO</button>
        </div>

        <!-- FILA 2 (4 botones) -->
        <div class="ingenieria-btn-row">
            <button class="btn-main text-custom-color-2"></button>
            <button class="btn-main ">MANUALES TÉCNICOS</button>
            <button class="btn-main text-custom-color-1">OPTIMIZACIÓN</button>
            <button class="btn-main text-custom-color-1">DOCUMENTACIÓN</button>
            <button class="btn-main text-custom-color-1">VALIDACIÓN DE DISEÑO</button>

        </div>
    </div>
</div>