.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 0.8rem 0 0.4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
}

.footer-left {
  flex: 1;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 7%;
}

.footer-left h3 {
  color: #1976d2;
  margin-bottom: 0.5rem;
  font-size: var(--font-size-base);
  text-align: left;
  width: 100%;
}

.footer-left p {
  margin: 0.2rem 0;
  font-size: var(--font-size-base);
  color: #fff;
  transition: color 0.3s ease;
}

.footer-left p:hover {
  color: #1976d2;
  cursor: pointer;
}

.footer-left .material-icons {
  font-size: var(--font-size-base);
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  justify-content: flex-start;
  margin-left: 10px;
}

.social-icons a {
  font-size: calc(var(--font-size-base) * 1.5);
  color: #fff;
  transition: color 0.3s;
  display: inline-block;
}

.social-icons a:hover {
  color: #1976d2;
}

.footer-right {
  color: #1976d2;
  flex: 1;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  margin-left: 20%;
}

.footer-version {
  text-align: right;
  margin-top: .02rem;
  margin-right: 225px;
  font-size: var(--font-size-base);
}

.footer-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.hecho-mexico-img {
  max-width: 120px;
  width: 90%;
  min-width: 80px;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: -45px;
}