<div class="submodule-container">
    <h2>Compras</h2>
    <div class="compras-btn-grid">
        <!-- FILA 1 (5 botones) -->
        <div class="compras-btn-row">
            <button class="btn-main ">PROVEEDORES</button>
            <button class="btn-main ">ORDENES DE <br> COMPRA</button>
            <button class="btn-main text-custom-color-1">CONTROL <br> ENTREGA DE <br> MATERIALES</button>
            <button class="btn-main text-custom-color-1">MATERIALES <br> PENDIENTES <br> COMPRAR</button>
            <button class="btn-main ">EVALUACIONES <br> DE <br> MATERIALES</button>
        </div>

        <!-- FILA 2 (4 botones) -->
        <div class="compras-btn-row">
            <button class="btn-main text-custom-color-2"></button>
            <button class="btn-main text-custom-color-1"></button>
            <button class="btn-main text-custom-color-2"></button>
            <button class="btn-main text-custom-color-1"> </button>
            <button class="btn-main text-custom-color-1"> </button>

        </div>
    </div>
</div>